# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore files with extension `.class` & `.sm`
*.class
*.sm

# Ignore vscode folders
.vscode/*

# Ignore Windows binaries
*.exe
*.obj

#ignore 'test' dir
test/*

# Ignore `bin` dir
bin/
# or
*/bin/*

# Ignore binaries
*.out